<div class='about-container'>
<h2>About Me</h2>
<div>
<p> I consider myself a modern day renaissance woman. Life has brought my on so many journeys and all of them are connected. <br>
My first experiences in the world of design were born from necessity. Back in college I was a music student with 3 side jobs and very little money. I needed to advertise some of my recitals without spending the money that I needed for textbooks and food. I had a computer, a black & white printer, and an imagination. That was all I needed.<br><br>
As luck would have it, I also had a love for photography. Soon, when the world photography moved to the digital realm, I was able to incorporate my own photos into my designs as well. <br><br>A few years later, when I started getting involved in more musical projects, I wanted a website to share my endeavors with the world... then my collegues wanted one too. I learned enough html and css to get my designs looking ok, but I still felt limited...<br><br>
Soon the opportunity of a lifetime would land in my inbox. <br>
My employer (I have a day job that has nothing to do with music) had started a program to send folks like me, who wanted to learn to code, through a 3 month immersive program to become developers. I could never have afforded to do this on my without this program. It was an incredible opportunity, so I studied hard and applied for the program. The moment I heard that I was accepted, I knew I had just stepped into a new glorious adventure, and I was eager.<br>
I went to Boston for 3 months for the Web Development Immersive course at General Assembly. It was challenging but engaging. Despite how hard it was, I had an incredible experience and learned so much in 12 short weeks! That education serves as the springboard for the rest of my career as a developer as I continue to learn, experience, and experiment with new technologies and ideas.
</p>

</div>
</div>
