<div class='about-container'>
<h2>About Me</h2>
<div>
<p> I consider myself a modern day renaissance woman. Life has brought my on so many journeys and all of them are connected. <br>
My first experiences in the world of design were born from necessity, back in college when I was a broke music student trying to advertise my recitals without spending any of the money that I needed for textbooks and food. I had a computer, and a black, white printer, and an imagination. That was all I needed.<br>
Later on when the world photography moved to the digital realm, I was able to incorporate my shutterbug habbit into my designs as well. Then eventually, I wanted a website to share my musical projects with the world... then my collegues wanted one too. I learned enough html and css to get my designs looking ok, but I wanted more!<br>
Soon the opportunity of a lifetime would land in my inbox. <br>
My employer (I have a day job that has nothing to do with music) had started a program to send folks like me, who wanted to learn to code, through a 3 month immersive program to become developers. It was incredible. I could never have afforded to do this on my own, so I studied hard, and applied. The moment I heard that I was accepted, I knew I had just stepped into a new glorious adventure, and I was eager.<br>
I went to Boston for 3 months for the Web Development Immersive course at General Assembly. It was challenging but engaging. Despite how hard I worked, I had an incredible experience, and learned so much in 12 short weeks! That education serves as the springboard for the rest of my career as a developer as I continue to learn, experience, and experiment with new technologies and ideas.
</p>

</div>
</div>
