<div class='site-container'>
  <h2>{{currentSite.title}}</h2>
  <img id='screenshot' src={{currentSite.screenShot}}  alt={{currentSite.title}}>
  <br>
  <div id='site-details'>
    <label>Description:</label>
    <p id='site-descr'>{{currentSite.description}}</p>
    <label><a href={{currentSite.siteURL}} id='site-link' target="_blank">Visit Site:</a></label>
    <p>Feel free to create a test account and look around. You don't need to use an email address to log in, so you can make up any user name that you want (provided it's not already taken).</p>
    <label>Involvement:</label>
    <p id='involvement'>{{currentSite.involvement}}</p>
    <div *ngIf='currentSite.gitHubRepo'>
    <label><a id='github-link' href={{currentSite.gitHubRepo}} target="_blank">Code Repository:</a></label>
    <p>Like looking at code? If you want to browse the code, feel free to visit <a id='github-link' href={{currentSite.gitHubRepo}} target="_blank">my github repo for this site.</a>Please respect that I use my own artwork in most of these designs. I just ask that you don't use any images without permission<p>
    </p>
  </div>
</div>
