#site-details {
  float: right;
  margin-bottom: 50px;
  text-align: left;
}
label {
  font-weight: bold;
}
.site-container {
  float: right;
  width:80%;
}
p {
  margin-top: 3px;
}
img {
  max-width: 100%;
}
