<div class='thumbnail-group' id='thumbnail-group' >
  <img *ngFor="let site of sites" class='thumbnail' src={{site.screenShot}} data-id={{site.id}}>
</div>
<div class='site-container'>
  <h2>Traveler's Keep</h2>
  <img id='screenshot' src='/assets/images/ScreenShot-Map.png' href='https://dianamcnulty.github.io/travelerskeep-client/' alt='Screenshot of Travelers Keep'>
  <br>
  <div id='site-details'>
    <label>Description:</label>
    <p id='site-descr'>Traveler's Keep is an app to help those with a wanderlust keep the memories of their adventures in organized. The user is presented with a map of places they've seen. When they click on the map they are navigated to a collection of photos and stories from that journey that they uploaded. Users have the option to add more photos and stories, and can create new vacations at any time.</p>
    <label><a href='https://dianamcnulty.github.io/travelerskeep-client/' id='site-link'>Visit Site:</a></label>
    <p>Feel free to create a test account and look around. You don't need to use an email address to log in, so you can make up any user name that you want (provided it's not already taken).</p>
    <label>Involvement:</label>
    <p id='involvement'>Solo Project: User interface, and API designed and implemented by Diana</p>
    <label>Code Repository:</label>
    <p>Like looking at code? If you want to browse the code, feel free to visit <a id='github-link' href='https://github.com/dianamcnulty/travelerskeep-client'>my github repo for this site.</a>Please respect that I use my own artwork in most of these designs. I just ask that you don't use any images without permission<p>
  </div>
</div>
