.thumbnail {
  width: 100%;
  cursor: pointer;
}
#screenshot {
  width: 70%;
}
.thumbnail-group {
  float:left;
  display: inline-block;
  width: 115px;
  height: 100%;
  max-width: 19%;
  margin-top: 25px;
}
