.copyright {
  text-align: right;
  margin-right: 10px;
  font-size: 8px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.title {
  display: inline-block;
}
