
.template-container {
  margin-bottom: 45px;
}
.copyright {
  text-align: right;
  margin-right: 10px;
  font-size: 8px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px black solid;
}
h1 {
  margin-bottom: 0;
  position: relative;
  right: 100px;
  padding: 0;
}
h3 {
  padding-top: 0;
  margin-top: 0;
  position: relative;
  left: 70px;
  margin-bottom: 25px;
  top: -13px;
  font-size: 25px
}
.title {
    text-shadow: 0 0 20px #d9f5fc;

  margin-top: 2px;
}
